@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .translate-x-y {
    transform: translate(-50%, -40%);
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .eHeight {
    height: calc(100vh - 225px);
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fffcfc;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background: #007AB3;
  border-radius: 16px;
}

